.certificates{
    height : 710px;
    padding: 3rem 2rem;
    padding-top: 0vh;
    max-width: 800px;
    margin: auto;
    font-size: 2rem;
    color: var(--accent-color);
}

.certificates h2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3%;
}

.certificates .swiper {
    position: relative;
    height: auto;
    overflow: hidden;
    border-radius: 10px;
}

.certificates .slide {
    width: 100%;
    height: 100%;
    display: none;
    object-fit: cover;
}

.certificates .slide.active {
    display: block;
}

.certificates .prev,
.certificates .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(255, 255, 255, 0.6);
    border: none;
    padding: 10px 15px;
    font-size: 24px;
    cursor: pointer;
    border-radius: 50%;
    user-select: none;
}

.certificates .prev {
    left: 10px;
}

.certificates .next {
    right: 10px;
}

.certificates .prev:hover,
.certificates .next:hover {
    background: rgba(255, 255, 255, 0.9);
}